# Java / Spring Boot
/backend/target/
/backend/.idea/
*.iml

# Angular / Node
# Angular / Node
/EvalprofrontOffice/node_modules/
/EvalprofrontOffice/dist/
/EvalprofrontOffice/.angular/cache


# OS / IDE
.DS_Store
*.log
