<div class="project-list-container">
  <table *ngIf="dossiers && dossiers.length > 0" class="project-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Titre</th>
        <th>Catégorie</th>
        <th>Situation</th>
        <th>Statut du dossier</th>
        <th>Progression</th>
        <th>Dernière modification</th>
        <th>Date création</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dossier of paginatedDossiers">
        <td><strong>{{ dossier.code }}</strong></td>
        <td><span class="project-title">{{ dossier.nomOfficielProjet }}</span></td>
        <td>{{ dossier.categorie || '-' }}</td>
        <td>{{ dossier.situation || 'Création' }}</td>
        <td>{{ dossier.statusLabel || 'En préparation' }}</td>
        <td>
          <div class="steps-container">
            <ng-container *ngFor="let key of getStepKeys(dossier.steps)">
              <span class="step" [class.done]="dossier.steps[key] === 100">
                {{ key }}: {{ dossier.steps[key] }}%
              </span>
            </ng-container>
          </div>
        </td>
        <td>{{ dossier.updatedAt | date:'short' }}</td>
        <td>{{ dossier.createdAt | date:'short' }}</td>
        <td>
          <a [routerLink]="['/projects/edit', dossier.id, 'step' + dossier.lastCompletedStep]" class="action-link">✏️Modifier</a>|
         <a href="#" (click)="deleteDossier(dossier.id, $event)" class="action-link delete">🗑️ Supprimer</a>

        </td>
      </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>
    <button *ngFor="let page of pages" (click)="goToPage(page)" [class.active]="page === currentPage">{{ page
      }}</button>
    <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">&gt;</button>
  </div>
</div>