<div class="home-auth-wrapper">
  <div class="logo-wrapper">
    <a routerLink="/">
      <img src="assets/evalpro-logo.png" alt="EvalPro Logo" class="logo" />
    </a>
    <div class="partner-logos">
      <a href="https://ec.europa.eu" target="_blank">
        <img src="assets/logo-eu.png" alt="EU Logo" />
      </a>
      <a href="https://www.aics.gov.it/" target="_blank">
        <img src="assets/logo-aics.png" alt="AICS Logo" />
      </a>
      <a href="https://www.wfp.org/" target="_blank">
        <img src="assets/logo-pam.png" alt="PAM Logo" />
      </a>
      <a href="https://www.iresa.agrinet.tn/" target="_blank">
        <img src="assets/logo-iresa.png" alt="IRESA Logo" />
      </a>
    </div>
  </div>

  <div class="auth-card">
    <h3 class="welcome-title">
      Bienvenue sur la plateforme d'accompagnement aux porteurs de projets <span>EvalPro</span>
    </h3>

    <p class="description">
      EvalPro est une plateforme conçue pour vous aider à soumettre, gérer et suivre vos projets efficacement.
      Elle offre un espace sécurisé et structuré pour simplifier le processus de dépôt et de suivi administratif.
    </p>

    <div class="btn-group">
      <a class="btn btn-primary" (click)="goToDashboard()">Démarrer / Gérer vos projets </a>
    </div>
  </div>

  <footer class="footer">
    <p>Powered by EvalPro &copy; 2025</p>
  </footer>
</div>
