<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
    <div class="form-group">
      <label>Veuillez indiquez la catégorie APIA/APII</label>
      <select class="form-control" formControlName="6">
        <option *ngFor="let opt of formMetadata.options[6]" [value]="opt.id">{{ opt.value }}</option>
      </select>
    </div>

  <div class="form-group" *ngIf="form.get('6')?.value == 25"> <!-- APIA -->
    <label>Sous secteur (APIA)</label>
    <select class="form-control" formControlName="7">
      <option *ngFor="let opt of formMetadata.options[7]" [value]="opt.id">{{ opt.value }}</option>
    </select>
  </div>

  <div class="form-group" *ngIf="form.get('6')?.value == 26"> <!-- APII -->
    <label>Sous secteur (APII)</label>
    <select class="form-control" formControlName="7">
      <option *ngFor="let opt of formMetadata.options[7]" [value]="opt.id">{{ opt.value }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Veuillez indiquer votre catégorie d’investissement</label>
    <select class="form-control" formControlName="8">
      <option *ngFor="let opt of formMetadata.options[8]" [value]="opt.id">{{ opt.value }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Estimez le montant global de votre investissement (TND)</label>
    <input type="number" class="form-control" formControlName="13" />
  </div>

  <button class="btn btn-primary" type="submit">Valider</button>
</form>

<div *ngIf="isSubmitted && form.invalid" class="alert alert-danger mt-3">
  Merci de remplir tous les champs obligatoires.
</div>
</div>