:host {
  display: flex;
  height: 100vh;
}

.layout {
  display: flex;
  width: 100%;
}

.main {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
  background: #f9fbfe;

  .content {
    padding: 2rem;
    flex: 1;
    overflow-y: auto;
  }
}

/* ✅ Mode réduit */
body.sidebar-collapsed .main {
  margin-left: 60px;
  width: calc(100% - 60px);
}

body.sidebar-collapsed .topbar {
  left: 60px;
  width: calc(100% - 60px);
}
