<div class="dashboard-container">  
<section class="welcome-box">
  <h1>Bienvenue</h1>
  <p class="username">slimani asma</p>
  <button class="logout-btn" (click)="logout()">Déconnexion</button>
</section>

<section class="project-summary">
  <div class="project-card">
    <i class="fas fa-layer-group"></i>
    <div class="project-info">
      <span class="count">0</span>
      <span class="label">Projets</span>
    </div>
  </div>
</section>

<section class="notice-box">
  <p class="highlight">Le délai de dépôt des candidatures... prolongé jusqu'au 30 juin 2025.</p>
  <p class="subtext">Bienvenue dans votre tableau de bord... traitées progressivement.</p>
  <div class="actions">
  <button class="btn wide primary" (click)="goToStep1()">Créer un nouveau projet</button>
  <a routerLink="/projects" class="btn wide secondary">Consulter mes projets</a>
</div>

</section>
</div>